nav {
    position: fixed;
    width: 80%;
    height: 90px;
    background-color: black;
    border-radius: 40px;
    padding: 20px;
    padding-inline: 30px;
    display: flex;
    align-items: center;
}